<%#
 % Locals:
 %   charset - the charset being used
 %   cell    - the cell data to render
 %>
<% if cell.is_a?(Fiddlybits::Charset::DecodedData) %>
  <% printable_class = cell.string =~ /[^[:print:]]/ ? 'non-printable' : 'printable' %>
  <% cell_id = "cell-#{cell.bytes.map{|x| '%02X' % x}.join}" %>
  <td class="table-entry <%= printable_class %>" id="<%= cell_id %>">
    <span class="character"><%= cell.string %></span>
    <span class="info"><%
      cell.string.codepoints.each_with_index do |cp, index|
        code_point = UnicodeUtils::Codepoint.new(cp)
        if index > 0
          %><br/><%
        end %><%= code_point.uplus -%>
      <% end -%>
      <% if cell.direction == :ltr %><br/>(ltr)<% elsif cell.direction == :rtl %><br/>(rtl)</span><% end -%>
    </span>
    <%# TODO hover-over to show more info -%>
    <%#= code_point.name -%>
  </td>
<% else %>
  <td class="blank-entry">&nbsp;</td>
<% end %>
