<% breadcrumb :charset, @charset %>

<ul>
  <li><%= link_to 'Decode data using this charest', :action => 'decode' %></li>
  <% if @charset.respond_to?(:min_bytes_per_char) &&
        @charset.min_bytes_per_char == @charset.max_bytes_per_char &&
        [1,2].include?(@charset.max_bytes_per_char) %>
    <li><%= link_to 'View charset table', :action => 'show_table' %></li>
  <% end %>
</ul>