<% breadcrumb :encoding, @encoding %>

<ul>
  <li><%= link_to 'Decode data using this encoding', :action => 'decode' %></li>
  <li><%= link_to 'Encode data using this encoding', :action => 'encode' %></li>
</ul>