<% breadcrumb :about %>

<p>What we're trying to do is create a site which explains how various kinds of data are interpreted and parsed.</p>

<p>The goal is to be as educational as possible about how everything works, but we would be happy if we end up with a tool people find useful.</p>

<p>Fiddlybits is Copyright &copy; 2014 Fiddlybits Project.</p>

<h3>I Found a Problem...</h3>

<p>If you've found a bug, we would like to know about it. The process works like this:</p>
<ul>
  <li>Go to the <a href="https://github.com/trejkaz/fiddlybits/issues">Github issues page</a>.</li>
  <li>If you have an account already, log in, otherwise create a new account.</li>
  <li>Do a quick search to make sure nobody else has submitted the same bug.</li>
  <li>Click on "New Issue".</li>
  <li>Make sure you use a descriptive title and as much detail as you can in your description:
    <ul>
      <li>Provide a link to the page which has the issue and any input you provided (often this is in the link, in which case there is no need to provide this information separately.)</li>
      <li>Describe what is happening and what you expect to happen.</li>
      <li>If the bug involves differing from the standards, please provide information about the relevant standard so that we can easily confirm that the correction is valid.</li>
    </ul>
  </li>
</ul>

<p>The goal of this project is historical accuracy, so if you know about older versions of any standards which are not yet listed here, we'd love to hear about those too!</p>

<h3>I Want to Help!</h3>

<p>If you have the desire to help out, the project is managed through <a href="https://github.com/trejkaz/fiddlybits">Github</a>. Pull requests to fix any existing issues or to provide new data are highly appreciated. :)</p>
