<ul>
  <li><%= link_to 'Encode Binary', { :controller => 'encodings', :action => 'encode' } %></li>
  <li><%= link_to 'Decode Binary', { :controller => 'encodings', :action => 'decode' } %></li>

  <li><%= link_to 'Decode Characters', { :controller => 'charsets', :action => 'decode' } %></li>
</ul>