<% breadcrumb :root %>

<ul>
  <li><%= link_to 'Binary Encodings', { :controller => 'encodings', :action => 'index' } %></li>
  <li><%= link_to 'Character Sets', { :controller => 'charsets', :action => 'index' } %></li>
</ul>