<% breadcrumb :root %>

<ul>
  <li><%= link_to 'Encode Binary', { :controller => 'encodings', :action => 'encode' } %></li>
  <li><%= link_to 'Decode Binary', { :controller => 'encodings', :action => 'decode' } %></li>

  <li><%= link_to 'Character Sets', { :controller => 'charsets', :action => 'index' } %></li>
</ul>