<h2><%= @code %> Our bad</h2>

<p>We're sorry, but we seem to have screwed up.</p>
<p>Don't worry, whenever this happens, an email gets sent out telling us about the error, so it will be fixed soon enough.</p>

