/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	display: block;
	position: relative;
	padding: 0.5em 1em;
	border-bottom: 1px solid rgb(128,128,128);
	margin: 0;
	background-color: rgb(0,39,39);
	color: white;
	box-shadow: 0px 5px 5px rgb(160,160,160);
}

div.header-links, div.share-button-top {
	display: block;
	float: right;
	vertical-align: baseline;
	padding-right: 1em; /* because of the scrollbar */
}
div.share-button-top {
	clear: both;
	position: absolute;
	margin-top: 0.5em;
	bottom: 1.1em;
	right: 0.5em; /* to line up with links */
}

header a {
	color: white;
}
header a:hover {
	background-color: white;
	color: rgb(0,39,39);
}

div.wrapper {
	padding: 1em;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid rgb(128,128,128);
	padding: 0.25em;
}